**Tujuan** :

membuat sebuah function, yang mana function nya bisa mengeluarkan output 

nama depan , nama belakang :

{firstname : .... , lastname : .... , gender : .... , age : ....}

jadi kita memasukkan list ke dalam function yang mana list tersebut berisi :

[firstname, lastname, gender, tahun lahir]

In [0]:
def changeMe(arr):
    isi = []
    if arr == isi:
        print(' "" ')
    else:
        for i in arr:
            # mencari umur
            if len(i) != 4 or i[3] > 2018:
                umur = 'Invalid Birth year'  
            else:
                umur = 2018 - i[3]
            output = {'firstname' : i[0], 'lastname' : i[1], 'gender' : i[2], 'age' : umur}
            gabung = i[0]+' '+i[1]
            print (gabung,':')
            print (output)

In [2]:
#drive code
changeMe([['Christ', 'Evans', 'Male', 1982],['Robert', 'Downey', 'Male']])
changeMe([])

Christ Evans :
{'firstname': 'Christ', 'lastname': 'Evans', 'gender': 'Male', 'age': 36}
Robert Downey :
{'firstname': 'Robert', 'lastname': 'Downey', 'gender': 'Male', 'age': 'Invalid Birth year'}
 ""